.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: 1vh;
  height: 90vh;
  margin-bottom: -80px;
  object-fit: contain;
  /* width: 100%; */
}
.banner_content {
  margin-left: 3vw;
  padding-top: 43vh;
}
.banner_title {
  font-size: 2.5rem;
  /* font-weight: 800; */
  padding-bottom: 0.3rem;
}
.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 40vw;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 1.2vw;
  padding: 1vw 2vw;
  margin: 0 1vw;
  background-color: rgb(57, 54, 54);
  opacity: 0.7;
}
.play {
  color: #000;
  background-color: #ffffff;
  /* opacity: 1; */
}
.banner_button:hover {
  color: #000;
  background-color: #ffffff;
  font-size: 1.5rem;
  opacity: 1;

  /* transition: all0.2s; */
}
.play:hover {
  color: #ffffff;
  background-color: #000;
  font-size: 1.5rem;
  /* opacity: 1; */

  transition: all0.2s;
}

.banner_fadeBottom {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.537),
    #111
  );
}
